@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    /*Cores Primarias*/
    --corPrimaria01: hsl(35, 77%, 62%);
    --corPrimaria02: hsl(5, 85%, 63%);

    --corNeutra01: hsl(36, 100%, 99%);
    --corNeutra02: hsl(233, 8%, 79%);
    --corNeutra03: hsl(236, 13%, 42%);
    --corNeutra04: hsl(240, 100%, 5%);
    --corNeutra05: hsla(236, 13%, 42%, 0.651);

}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    background-color: var(--corNeutra01);
    overflow-x: hidden;
}


header {
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 100px;
}

nav.navbar{
    max-width: 100%;
}

.navbar .container-fluid{
    max-width: 1350px;
}

.nav-item-ul{
    list-style: none;
    color: var(--corNeutra03);
}

.nav-item-ul li{
    padding-left: 30px;
}

.nav-item a{
    font-size: 1.3em;
}

.nav-item a:hover{
    color: hsl(5, 85%, 63%);;
}

.navbar-toggler {
    display: none;
}

main {
    padding-left: 20px;
    margin: 50px auto;
    max-width: 1350px;
    min-width: 320px;
}

.wrapper {
    display: grid;
    grid-template-columns: 70% 80%;
    max-width: 100%;
}

.divImage {
    max-width: 930px;
    min-width: 280px;
}

.divImage img {
    max-width: 93%;
}

.futureWeb {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.futureWeb>h1 {
    line-height: 1em;
    font-weight: 900;
    font-size: 3.5em;
    width: 50%;
}

.futureWeb>div {
    width: 60%;
}

.futureWeb>div>p {
    margin: 0;
    padding: 0;
    color: var(--corNeutra03);
    line-height: 1.8em;
    font-size: 1.3em;
    text-align: justify;
    font-weight: 400;
}

.futureWeb>div>button {
    letter-spacing: .2em;
    margin-top: 15px;
    border: 0;
    height: 50px;
    width: 150px;
    background-color: var(--corPrimaria02);
    color: white;
}

.futureWeb>div>button:hover{
    transition-duration: .5s;
    background-color: var(--corNeutra04);
}

.noticiasNovas {
    align-items: center;
    background-color: var(--corNeutra04);
    max-height: 98%;
    max-width: 36%;
}

.noticiasNovas h1,
h2,
p {
    max-height: 80%;
    max-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
}

.noticiasNovas>h1 {
    color: var(--corPrimaria01);
    font-family: Inter, sans-serif;
    font-weight: 700;
    padding-top: 25px;
    font-size: 3em;
}

.noticiasNovas>h2 {
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}

.noticiasNovas>p {
    padding-top: 20px;
    color: var(--corNeutra02);
    font-size: 1.2em;
}

.noticiasNovas>hr {
    color: white;
    margin: auto;
    width: 90%;
}

.OutrosAssuntos {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

.grid-item {
    width: 100%;
    display: flex;
}

.grid-item img {
    max-width: 30%;
}

.grid-item-text>span {
    padding-right: 0;
    color: var(--corNeutra05);
    font-size: 2em;
    font-weight: 700;
    padding-left: 15px;
}

.grid-item-text>h2 {
    padding-right: 0;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: 700;
    width: 100%;
    font-size: 1.2em;
}

.grid-item-text>p {
    padding-right: 0;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: 400;
    width: 100%;
    font-size: 1.2em;
}