:root {
    /*Cores Primarias*/
    --corPrimaria01: hsl(35, 77%, 62%);
    --corPrimaria02: hsl(5, 85%, 63%);

    --corNeutra01: hsl(36, 100%, 99%);
    --corNeutra02: hsl(233, 8%, 79%);
    --corNeutra03: hsl(236, 13%, 42%);
    --corNeutra04: hsl(240, 100%, 5%);
    --corNeutra05: hsla(236, 13%, 42%, 0.651);

}


@media screen and (max-width: 880px) {

    header {
        font-weight: 400;
        display: flex;
        align-items: center;
        height: 100px;
    }

    nav.navbar {
        max-width: 100%;
    }

    .navbar .container-fluid {
        max-width: 820px;
    }


    .nav-item-ul {
        list-style: none;
        color: var(--corNeutra03);
    }

    .nav-item-ul li {
        display: none;
    }

    .nav-item a {
        font-size: 1.3em;
    }

    .nav-item a:hover {
        color: hsl(5, 85%, 63%);
    }

    .navbar-toggler {
        display: block;
    }

    main {
        margin: 50px auto;
        max-width: 820;
        min-width: 320px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 75% 75%;
        max-width: 100%;
    }

    .divImage {
        padding-left: 25px;
        max-width: 750px;
        min-width: 280px;
    }

    .divImage img {
        max-width: 90%;
    }

    .futureWeb {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .futureWeb>h1 {
        padding: 0;
        line-height: 1.8em;
        font-weight: 800;
        font-size: 1.6em;
    }

    .futureWeb>div {
        margin-top: 50px;
    }

    .futureWeb>div>p {
        padding: 0;
         color: var(--corNeutra04);
        line-height: 1.5em;
        text-align: justify;
        font-weight: 400;
        font-size: 1em;
    }

    .futureWeb>div>button:hover {
        transition-duration: .5s;
        background-color: var(--corNeutra04);
    }


    .futureWeb>div>button {
        font-size: 1em;
        letter-spacing: .2em;
        margin-top: 15px;
        border: 0;
        height: 35px;
        width: 150px;
        background-color: var(--corPrimaria02);
        color: white;
    }


    .noticiasNovas {
        background-color: var(--corNeutra04);
    }

    .noticiasNovas h1,
    h2,
    p {
        max-height: 80%;
        max-width: 100%;
    }

    .noticiasNovas>h1 {
        color: var(--corPrimaria01);
        font-family: Inter, sans-serif;
        font-weight: 700;
        padding-top: 25px;
        font-size: 1.5em;
    }

    .noticiasNovas>h2 {
        color: white;
        font-size: .8em;
        padding-top: 20px;
    }

    .noticiasNovas>p {
        padding-bottom: 25px;
        padding-top: 15px;
        color: var(--corNeutra02);
        font-size: .79em;
    }

    .noticiasNovas>hr {
        color: var(--corNeutra03);
        margin: auto;
        width: 90%;
    }

    .OutrosAssuntos {
        padding-left: 25px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
    }

    .grid-item {
        width: 100%;
        display: flex;
    }

    .grid-item img {
        max-width: 35%;
    }

    .grid-item-text>span {
        padding-right: 0;
        color: var(--corNeutra05);
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 15px;
    }

    .grid-item-text>h2 {
        padding-right: 0;
        padding-left: 15px;
        padding-top: 5px;
        font-weight: 700;
        width: 100%;
        font-size: .95em;
    }

    .grid-item-text>p {
        padding-right: 0;
        padding-left: 15px;
        padding-top: 5px;
        font-weight: 400;
        width: 100%;
        font-size: .85em;
    }
}